table{
	td,th{
		width: 30%;
		border:1px solid #ded6d6;
		padding: 6px;
		color:grey;
	}
	th{
		color: #ded6d6;
	}
	td{
		border-bottom-width: 1px !important;
	}
	th,td{
		border-bottom-width: 2px;
		border-left: none;
		border-right: none;
		border-top: none;
	}
/*	tr,thead{
		&:first-child{
			td,th{
				&:first-child{
					border:1px solid red;
					border-top-left-radius:4px;
					border-top-right-radius:4px;
				}
				&:last-child{
					border:1px solid red;
					border-top-left-radius:4px;
					border-top-right-radius:4px;
				}
			}
		}
		&:last-child{
			td,th{
				&:first-child{
					border:1px solid red;
					border-top-left-radius:4px;
					border-top-right-radius:4px;
				}
				&:last-child{
					border:1px solid red;
					border-top-left-radius:4px;
					border-top-right-radius:4px;
				}
			}
		}
	}*/
}