table{
	td,th{
		width: 30%;
		border:1px solid #ded6d6;
		padding: 6px;
		color:grey;
	}
	th{
		color: #ded6d6;
	}
	td{
		border-bottom-width: 1px !important;
	}
	th,td{
		border-bottom-width: 2px;
		border-left: none;
		border-right: none;
		border-top: none;
	}
}
.buttonAlign{
	float: right;
	vertical-align: top;
	overflow: hidden;
}