.iconList{
	background-color: #d8d5d5;
    border-radius: 4px;
    margin-top: 10px;
    &.highLight{
    	background-color: black;
    	color: white;
    }
}
.wrap{
	width:30%;
	margin: 30px auto;
	background-color: white;
	text-transform: uppercase;
	border-radius: 4px;
	h3{
		color:#00b4ff;
	}
	span{
		padding: 8px;
    	display: block;
	}
	i{
		color: #ff5e00;
	}
}