@import 'theme/variables';
@import 'theme/mixins';

.formRow {
	margin-bottom: 20px;
	position:relative;
	padding-left: 180px;
	label {
		font:{
			size:$font-msd;
		}
		line-height: 1.4;
		color: $navy;
		position: absolute;
		left: 0px;
		top: 20px;
	}
		
}
.disable{
	pointer-events: none;
}