.textBox{
	position: relative;
}
.dropDown{
	position: absolute;
    z-index: 9999999;
	display: none;
    top: 65px;
    padding-left: 180px;
    width: 100%;
    ul{
    	background-color: white;
    	border :1px solid #444141;
    	background-color: #b1b1b1;
    	height:150px;
    	overflow-y: scroll;
    	list-style: none;
    	padding: 0;
    	text-align: center;
    }
	li{
		padding: 5px 0;
		&:hover{
			background-color:grey;
			text-decoration: none;
		}
	}
}
.show{
	display: block;
}
.inputLabel{
	position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.4;
    color: #120047;
}
.multiple{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	span{
		margin-left: 10px;
		background-color: grey;
		width: 100%;
		position: relative;
		padding: 3px 15px 3px 3px;
		&:after{
			position:absolute;
			content:'X';
			top:50%;
			transform: translateY(-50%);
			right: 2px;
		}
	}
	section{
		padding-left: 180px;
	}
}